@keyframes wheelRotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes movement {
  0% { left: 0%; opacity: 0; }
  10% { opacity: 1;}
  80% { opacity: 1;}
  100% { left: 95%; opacity: 0; }
}

/* Sunrise ans sunset - 8 parts  */
@keyframes sun1 {
  0% { opacity: 0; transform: rotate(225deg); }
  11.11% { opacity: 0; transform: rotate(270deg); }
  22.22% { opacity: 0; transform: rotate(-90deg); }
  33.33% { opacity: 1; transform: rotate(-45deg); }
  44.44% { opacity: 1; transform: rotate(0deg); }
  55.55% { opacity: 1; transform: rotate(45deg); }
  66.66% { opacity: 0; transform: rotate(90deg); }
  77.77% { opacity: 0; transform: rotate(135deg); }
  88.88% { opacity: 0; transform: rotate(180deg); }
  100% { opacity: 0; transform: rotate(225deg); }
}@keyframes sun2 {
  0% { opacity: 0; transform: rotate(-90deg); }
  11.11% { opacity: 1; transform: rotate(-45deg); }
  22.22% { opacity: 1; transform: rotate(0deg); }
  33.33% { opacity: 1; transform: rotate(45deg); }
  44.44% { opacity: 0; transform: rotate(90deg); }
  55.55% { opacity: 0; transform: rotate(135deg); }
  66.66% { opacity: 0; transform: rotate(180deg); }
  77.77% { opacity: 0; transform: rotate(225deg); }
  88.88% { opacity: 0; transform: rotate(270deg); }
  100% { opacity: 0; transform: rotate(-90deg); }
}
@keyframes sun3 {
  0% { opacity: 1; transform: rotate(-45deg); }
  11.11% { opacity: 1; transform: rotate(0deg); }
  22.22% { opacity: 1; transform: rotate(45deg); }
  33.33% { opacity: 0; transform: rotate(90deg); }
  44.44% { opacity: 0; transform: rotate(135deg); }
  55.55% { opacity: 0; transform: rotate(180deg); }
  66.66% { opacity: 0; transform: rotate(225deg); }
  77.77% { opacity: 0; transform: rotate(270deg); }
  88.88% { opacity: 0; transform: rotate(-90deg); }
  100% { opacity: 1; transform: rotate(-45deg); }
}
@keyframes sun4 {
  0% { opacity: 1; transform: rotate(0deg); }
  11.11% { opacity: 1; transform: rotate(45deg); }
  22.22% { opacity: 0; transform: rotate(90deg); }
  33.33% { opacity: 0; transform: rotate(135deg); }
  44.44% { opacity: 0; transform: rotate(180deg); }
  55.55% { opacity: 0; transform: rotate(225deg); }
  66.66% { opacity: 0; transform: rotate(270deg); }
  77.77% { opacity: 0; transform: rotate(-90deg); }
  88.88% { opacity: 1; transform: rotate(-45deg); }
  100% { opacity: 1; transform: rotate(0deg); }
}
@keyframes sun5 {
  0% { opacity: 1; transform: rotate(45deg); }
  11.11% { opacity: 0; transform: rotate(90deg); }
  22.22% { opacity: 0; transform: rotate(135deg); }
  33.33% { opacity: 0; transform: rotate(180deg); }
  44.44% { opacity: 0; transform: rotate(225deg); }
  55.55% { opacity: 0; transform: rotate(270deg); }
  66.66% { opacity: 0; transform: rotate(-90deg); }
  77.77% { opacity: 1; transform: rotate(-45deg); }
  88.88% { opacity: 1; transform: rotate(0deg); }
  100% { opacity: 1; transform: rotate(45deg); }
}
@keyframes sun6 {
  0% { opacity: 0; transform: rotate(90deg); }
  11.11% { opacity: 0; transform: rotate(135deg); }
  22.22% { opacity: 0; transform: rotate(180deg); }
  33.33% { opacity: 0; transform: rotate(225deg); }
  44.44% { opacity: 0; transform: rotate(270deg); }
  55.55% { opacity: 0; transform: rotate(-90deg); }
  66.66% { opacity: 1; transform: rotate(-45deg); }
  77.77% { opacity: 1; transform: rotate(0deg); }
  88.88% { opacity: 1; transform: rotate(45deg); }
  100% { opacity: 0; transform: rotate(90deg); }
}
@keyframes sun7 {
  0% { opacity: 0; transform: rotate(135deg); }
  11.11% { opacity: 0; transform: rotate(180deg); }
  22.22% { opacity: 0; transform: rotate(225deg); }
  33.33% { opacity: 0; transform: rotate(270deg); }
  44.44% { opacity: 0; transform: rotate(-90deg); }
  55.55% { opacity: 1; transform: rotate(-45deg); }
  66.66% { opacity: 1; transform: rotate(0deg); }
  77.77% { opacity: 1; transform: rotate(45deg); }
  88.88% { opacity: 0; transform: rotate(90deg); }
  100% { opacity: 0; transform: rotate(135deg); }
}
@keyframes sun8 {
  0% { opacity: 0; transform: rotate(180deg); }
  11.11% { opacity: 0; transform: rotate(225deg); }
  22.22% { opacity: 0; transform: rotate(270deg); }
  33.33% { opacity: 0; transform: rotate(-90deg); }
  44.44% { opacity: 1; transform: rotate(-45deg); }
  55.55% { opacity: 1; transform: rotate(0deg); }
  66.66% { opacity: 1; transform: rotate(45deg); }
  77.77% { opacity: 0; transform: rotate(90deg); }
  88.88% { opacity: 0; transform: rotate(135deg); }
  100% { opacity: 0; transform: rotate(180deg); }
}

/* Day and night - 8 parts  */
@keyframes hide1 {
  0% { opacity: 0; }
  11.11% { opacity: 1; }
  22.22% { opacity: 1; }
  33.33% { opacity: 1; }
  44.44% { opacity: 1; }
  55.55% { opacity: 0; }
  66.66% { opacity: 0; }
  77.77% { opacity: 0; }
  88.88% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes hide2 {
  0% { opacity: 1; }
  11.11% { opacity: 1; }
  22.22% { opacity: 1; }
  33.33% { opacity: 1; }
  44.44% { opacity: 0; }
  55.55% { opacity: 0; }
  66.66% { opacity: 0; }
  77.77% { opacity: 0; }
  88.88% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes hide3 {
  0% { opacity: 1; }
  11.11% { opacity: 1; }
  22.22% { opacity: 1; }
  33.33% { opacity: 0; }
  44.44% { opacity: 0; }
  55.55% { opacity: 0; }
  66.66% { opacity: 0; }
  77.77% { opacity: 0; }
  88.88% { opacity: 1; }
  100% { opacity: 1; }
}
@keyframes hide4 {
  0% { opacity: 1; }
  11.11% { opacity: 1; }
  22.22% { opacity: 0; }
  33.33% { opacity: 0; }
  44.44% { opacity: 0; }
  55.55% { opacity: 0; }
  66.66% { opacity: 0; }
  77.77% { opacity: 1; }
  88.88% { opacity: 1; }
  100% { opacity: 1; }
}
@keyframes hide5 {
  0% { opacity: 1; }
  11.11% { opacity: 0; }
  22.22% { opacity: 0; }
  33.33% { opacity: 0; }
  44.44% { opacity: 0; }
  55.55% { opacity: 1; }
  66.66% { opacity: 1; }
  77.77% { opacity: 1; }
  88.88% { opacity: 1; }
  100% { opacity: 1; }
}
@keyframes hide6 {
  0% { opacity: 0; }
  11.11% { opacity: 0; }
  22.22% { opacity: 0; }
  33.33% { opacity: 0; }
  44.44% { opacity: 1; }
  55.55% { opacity: 1; }
  66.66% { opacity: 1; }
  77.77% { opacity: 1; }
  88.88% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes hide7 {
  0% { opacity: 0; }
  11.11% { opacity: 0; }
  22.22% { opacity: 0; }
  33.33% { opacity: 1; }
  44.44% { opacity: 1; }
  55.55% { opacity: 1; }
  66.66% { opacity: 1; }
  77.77% { opacity: 0; }
  88.88% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes hide8 {
  0% { opacity: 0; }
  11.11% { opacity: 0; }
  22.22% { opacity: 1; }
  33.33% { opacity: 1; }
  44.44% { opacity: 1; }
  55.55% { opacity: 1; }
  66.66% { opacity: 0; }
  77.77% { opacity: 0; }
  88.88% { opacity: 0; }
  100% { opacity: 0; }
}

/* Background colors - 8 parts */
@keyframes bg1 {
	0% { background-color: #4f53a0; }
	11.11% { background-color: #6366a0; }
	22.22% { background-color: #b1e1e2; }
	33.33% { background-color: #7acfcf; }
	44.44% { background-color: #d18da7; }
	55.55% { background-color: #c88425; }
	66.66% { background-color: #636888; }
	77.77% { background-color: #212648; }
	88.88% { background-color: #0a0a13; }
	100% { background-color: #b08fcc; }
}
@keyframes bg2 {

	0% { background-color: #6366a0; }
	11.11% { background-color: #b1e1e2; }
	22.22% { background-color: #7acfcf; }
	33.33% { background-color: #d18da7; }
	44.44% { background-color: #c88425; }
	55.55% { background-color: #636888; }
	66.66% { background-color: #212648; }
	77.77% { background-color: #0a0a13; }
	88.88% { background-color: #b08fcc; }
	100% { background-color: #4f53a0; }
}
@keyframes bg3 {
	0% { background-color: #7acfcf; }
	11.11% { background-color: #d18da7; }
	22.22% { background-color: #c88425; }
	33.33% { background-color: #636888; }
	44.44% { background-color: #212648; }
	55.55% { background-color: #0a0a13; }
	66.66% { background-color: #b08fcc; }
	77.77% { background-color: #4f53a0; }
	88.88% { background-color: #6366a0; }
	100% { background-color: #b1e1e2; }
}
@keyframes bg4 {
	0% { background-color: #d18da7; }
	11.11% { background-color: #c88425; }
	22.22% { background-color: #636888; }
	33.33% { background-color: #212648; }
	44.44% { background-color: #0a0a13; }
	55.55% { background-color: #b08fcc; }
	66.66% { background-color: #4f53a0; }
	77.77% { background-color: #6366a0; }
	88.88% { background-color: #b1e1e2; }
	100% { background-color: #7acfcf; }
}
@keyframes bg5 {
	0% { background-color: #c88425; }
	11.11% { background-color: #636888; }
	22.22% { background-color: #212648; }
	33.33% { background-color: #0a0a13; }
	44.44% { background-color: #b08fcc; }
	55.55% { background-color: #4f53a0; }
	66.66% { background-color: #6366a0; }
	77.77% { background-color: #b1e1e2; }
	88.88% { background-color: #7acfcf; }
	100% { background-color: #d18da7; }
}
@keyframes bg6 {
	0% { background-color: #636888; }
	11.11% { background-color: #212648; }
	22.22% { background-color: #0a0a13; }
	33.33% { background-color: #b08fcc; }
	44.44% { background-color: #4f53a0; }
	55.55% { background-color: #6366a0; }
	66.66% { background-color: #b1e1e2; }
	77.77% { background-color: #7acfcf; }
	88.88% { background-color: #d18da7; }
	100% { background-color: #c88425; }
}
@keyframes bg7 {
	0% { background-color: #212648; }
	11.11% { background-color: #0a0a13; }
	22.22% { background-color: #b08fcc; }
	33.33% { background-color: #4f53a0; }
	44.44% { background-color: #6366a0; }
	55.55% { background-color: #b1e1e2; }
	66.66% { background-color: #7acfcf; }
	77.77% { background-color: #d18da7; }
	88.88% { background-color: #c88425; }
	100% { background-color: #636888; }
}
@keyframes bg8 {
	0% { background-color: #0a0a13; }
	11.11% { background-color: #b08fcc; }
	22.22% { background-color: #4f53a0; }
	33.33% { background-color: #6366a0; }
	44.44% { background-color: #b1e1e2; }
	55.55% { background-color: #7acfcf; }
	66.66% { background-color: #d18da7; }
	77.77% { background-color: #c88425; }
	88.88% { background-color: #636888; }
	100% { background-color: #212648; }
}

@keyframes newsFlow {
  0% { transform: translate3d(0, 0, 0); visibility: visible; }
  100% { transform: translate3d(-100%, 0, 0); }
}