@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #b1e1e2;
}

.Curtain-wrapper {
  width: 100%;
  height: 100%;
}
input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 91.5%;
  z-index: 100;
  opacity: 0;
}
input[type=checkbox]:checked ~ div.left-part {
  transform: translateX(0);
}
input[type=checkbox]:checked ~ div.right-part {
  transform: translateX(0);
}
.Curtain-pannel {
  background-color: #222222;
  font-size: 2rem;
  color: #ffffff;
  width: 50%;
  height: 100vh;
  float: left;
  position: relative;
  z-index: 3;
  transition: all 1s ease-out;
  display: flex;
  align-items: center;
}
.left-part {
  justify-content: flex-end;
  transform: translateX(-100%);
}
.right-part {
  justify-content: flex-start;
  transform: translateX(100%);
}

.App-section {
  width: 1000px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 1;
}
